.chats-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 1rem auto;
}

.chats-list {
  list-style: none;
  padding: 0;
}

.chats-cards {
  display: flex;
  justify-content: space-between;
  padding: 16px;
  border: 1px solid rgb(107, 107, 107);
  margin: 1rem auto;
  text-decoration: none;
  list-style: none;
  border-radius: 1rem;
  transition: 300ms;
}

.chats-cards:hover {
  scale: 1.01;
}

.form-label {
  display: block !important;
}

.chats-cards {
  background-color: $cool-gray;
}

.fa-eraser {
 color: $mid-green;
}

.fa-magnifying-glass {
  color: $mid-green;
}

#search-filter {
  border: 1px solid $mid-green;
  border-radius: 1rem;
  padding: 0 12px;
}
