.type-button-style {
  margin: 1rem;
  cursor: pointer;
  padding: 1px;

}

.btn-check:checked + label img {
  border: 2px solid green;
  border-radius: 4px;
}

.btn-create-chat {
  background-color: $normal-green;

  &:hover {
    background-color: darken($normal-green, 10%);
  }
}

.btn-final-create {
  background-color: $normal-green;

  &:hover {
    background-color: darken($normal-green, 10%);
  }
}
