.type-button-style {
  margin: 1rem;
  cursor: pointer;
  padding: 1px;

}

.btn-check:checked + label img {
  // border: 2px solid green;
  background-color: $normal-green;
  color: white;
  padding: 5px;
  border-radius: 4px;
}

.btn-confirm{
  background-color: #607466;
  color:white;
}

.btn-cancel {
  background-color: #D7816A;
  color: white;
}


.btn-confirm:hover{
  background-color: #445349;
  color: white;
}

.btn-cancel:hover {
  background-color: #ae6a57;
  color: white;
}

.btn-create-chat {
  background-color: $clear-green;
  padding: 4px 16px;

  &:hover {
    background-color: darken($clear-green, 10%);
  }
}

.btn-final-create {
  background-color: $clear-green;

  &:hover {
    background-color: darken($clear-green, 10%);
  }
}
